<div class="App__sidebar">
  <ul class="listDescriptions">
    <li *ngFor="let itemDatalist of datalists" class="listDescriptions__item">
      <p class="listDescriptions__p">
        Would you like to see more information? Press the button!
      </p>
      <button class="btn btn-primary" (click)="getCurrentUser(itemDatalist)">
        Uesr# {{ itemDatalist.ProductId }}
      </button>
    </li>
  </ul>
</div>
<div class="App__content">
  <h1 class="App__content-h1">Info</h1>
  <div *ngIf="showMe" class="App__content-container">
    <p class="App__p">ProductId: <span class="App__content-span">{{ selectedItem.ProductId }}</span></p>
    <p class="App__p">ColorIdx: <span class="App__content-span">{{ selectedItem.ColorIdx }}</span></p>
    <p class="App__p">ProductCode: <span class="App__content-span">{{ selectedItem.ProductCode }}</span></p>
    <p class="App__p">ProductDescription:<span class="App__content-span">{{ selectedItem.ProductDescription }}</span></p>
    <p class="App__p">Price: <span class="App__content-span">{{ selectedItem.Price }}</span></p>
    <p class="App__p"> VoDatum: <span class="App__content-span">{{ selectedItem.VoDatum | isNull }}</span></p>
    <p class="App__p">IsHeavy: <span class="App__content-span">{{ selectedItem.IsHeavy }}</span></p>
    <p class="App__p">RestrictedLands: <span class="App__content-span">{{ selectedItem.RestrictedLands | isNull }}</span></p>
    <p class="App__p">IsFsk: <span class="App__content-span">{{ selectedItem.IsFsk }}</span></p>
    <p class="App__p">IsOrdergruppeC: <span class="App__content-span">{{ selectedItem.IsOrdergruppeC }}</span></p>
    <div class="Wrap__btn">
      <button (click)="toogleHideMe()" class="btn btn-danger">Close</button>
    </div>
  </div>
</div>
